<div class="container" ng-controller="InitialController">
    <div class="jumbotron">
        <h2 align="center">{{location}}-Initial Waste Analysis</h1>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <img src="/images/population.jpg" style="width:350px;height:228px;">
                        <img src="/images/waste estimate.jpg" style="width:350px;height:228px;">
                    </div>
                    <br>
                    <div class="row">
                        <img src="/images/waste characteristics.jpg" style="width:700px;height:235px;">
                    </div>    
                </div>
                <div class="col-md-4">    
                    <img src="/images/google map.jpg" style="width:780px;height:470px;">            
                    
                </div>
            </div>
        </div>
        <br>
        <div id="todo-form" class="row">
            <div class="col-sm-1 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="input()">Input Data</button>
                    </div>
                </form>
            </div>    
            <div class="col-sm-1 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="tothird()">Create Waste Management Plan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>